<section>
    <div class="articleactions">
        <button class="deletearticle" *ngIf="isOwner" (click)="articleDeleteHandler()">Delete Article</button>
        <div *ngIf="!isOwner && isLoggedIn">
            <button class="followarticle" *ngIf="!isFollowed" (click)="articlefollowHandler()">Follow Article</button>
            <button class="unfollowarticle" *ngIf="isFollowed" (click)="articleunfollowHandler()">Unfollow Article</button>
        </div>
    </div>
    <div class="articleeditform">
        <h2 class="resolvedarticle" *ngIf="articleStatus">Resolved</h2>
        <h2 class="openarticle" *ngIf="!articleStatus">Open Topic</h2>
        <form [formGroup]="articleEditForm" (ngSubmit)="formSubmitHandler()">
            <div>
                <input type="text" name="title" formControlName="title" [readonly]="!isOwner">
                <ng-container *ngIf="articleEditForm.get('title')?.touched">
                    <p *ngIf="articleEditForm.get('title')?.errors?.['required']">Title is required!</p>
                    <p *ngIf="articleEditForm.get('title')?.errors?.['minlength']">Title must be at least 5 chars long!</p>
                    <p *ngIf="articleEditForm.get('title')?.errors?.['maxlength']">Title must be maximum 100 chars long!</p>
                </ng-container>
            </div>
            <div>
                <span>asked by:</span>
                <input type="text" name="owner" formControlName="owner" [readonly]="true">
                <span>asked at:</span>
                <input type="text" name="created_at" formControlName="created_at" [readonly]="true">
                <span>last update at:</span>
                <input type="text" name="updated_at" formControlName="updated_at" [readonly]="true">
            </div>
            <div>
                <textarea type="text" name="description" formControlName="description" [readonly]="!isOwner"></textarea>
                <ng-container *ngIf="articleEditForm.get('description')?.touched">
                    <p *ngIf="articleEditForm.get('description')?.errors?.['required']">Description is required!</p>
                    <p *ngIf="articleEditForm.get('description')?.errors?.['minlength']">Description must be at least 10 chars long!</p>
                    <p *ngIf="articleEditForm.get('description')?.errors?.['maxlength']">Description must be maximum 1000 chars long!</p>
                </ng-container>
            </div>
            <div>
                <input type="text" name="category" formControlName="category" [readonly]="!isOwner">
                <ng-container *ngIf="articleEditForm.get('category')?.touched">
                    <p *ngIf="articleEditForm.get('category')?.errors?.['required']">Category is required!</p>
                </ng-container>
                <button *ngIf="isOwner" [disabled]="articleEditForm.pristine || articleEditForm.invalid">Edit Article</button>
            </div>
        </form>
    </div>
    <div class="comments" *ngIf="commentsList">
        <div class="comment" *ngFor="let comment of commentsList">
            <div class="commentstat">
                <button [disabled]="!isOwner || !isLoggedIn" (click)="likeCommentHandler(comment)" [ngClass]="{'liked': comment.like}">{{comment.like?'Liked (unlike)':'Not Liked (Like)'}}</button>
                <p>{{comment.owner.email}}</p>
                <p>{{comment.created_at | date: 'MMMM d,y'}}</p>
            </div>
            <h4 class="commentaccept" *ngIf="comment.like">Accepted</h4>
            <p class="commenttext">{{comment.comment}}</p>
        </div>
    </div>
    <div class="nocomment" *ngIf="!commentsList?.length">No Comments Yet!</div>
    <button class="addnewcomment" *ngIf="isLoggedIn" [hidden]="addComment" (click)="addCommentHandler()">Add Your Comment</button>
    <div class="newcommentform" *ngIf="addComment">
        <app-article-comment-create></app-article-comment-create>
        <button (click)="closeCommentHandler()">Cancle</button>
    </div>
</section>