<h2>Create Comment</h2>
<form [formGroup]="commentCreateForm" (ngSubmit)="formSubmitHandler()">
    <div>
        <label for="comment">Comment:</label>
        <textarea type="text" name="comment" formControlName="comment"></textarea>
    </div>
    <ng-container *ngIf="commentCreateForm.get('comment')?.touched">
        <p *ngIf="commentCreateForm.get('comment')?.errors?.['required']">Comment text is required!</p>
        <p *ngIf="commentCreateForm.get('comment')?.errors?.['minlength']">Comment text must be at least 10 chars long!
        </p>
        <p *ngIf="commentCreateForm.get('comment')?.errors?.['maxlength']">Comment text must be maximum 500 chars long!
        </p>
    </ng-container>
    <button *ngIf="commentCreateForm.valid">Add Comment</button>
</form>